@media (min-width: 992px) {
  .ontology-container {
    padding: 0 60px;
  }
  .module-tree .multiselect-container {
    margin-right: 0px;
  }
}

// --------------------------
// Multiselect Common
// --------------------------
.multiselect-container {
  &.multiselect-xxl-container {
    margin-top: 20px;
    max-width: 100%;
    .row {
      margin: 0px;
    }
  }

  .multiselect {
    input {
      padding-left: 0px;
    }

    .multiselect__content {
      padding-top: 20px;
      padding-bottom: 20px;

      .multiselect__option {
        font-family: "Inter";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.8);

        padding: 15px 60px 15px 10px;
        height: 60px;
        min-height: 60px;
      }

      .multiselect__option--group {
        background: transparent!important;
        color: rgba(0, 0, 0, 0.8)!important;
        font-weight: bold!important;
        border-bottom: 2px solid rgba(0, 0, 0, 0.4);
      }
    }

    .multiselect__select {
      &::before {
        border: none;
      }
    }
    .multiselect__tags {
      background-color: rgba(255, 255, 255, 0);

      border: 0px solid map-get($colors-map, "white");
      padding-left: 30px;
      padding-right: 90px;
      padding-top: 0px;
      margin-top: 20px;

      min-height: 30px;
    }
    .multiselect__input {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      color: map-get($colors-map, "black-80");

      &::placeholder {
        color: map-get($colors-map, "black-40");
        opacity: 1;
      }
    }
    .multiselect__single {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      color: map-get($colors-map, "black-80");
      padding: 0px;
      margin: 0px;
    }
  }
  .multiselect--active {
    .multiselect__tags {
      background-color: rgba(255, 255, 255, 0);
      transition: background-color 0.2s;
    }
  }
}
.menu-box {
  position: relative;
  align-items: center;
  background-color: map-get($colors-map, "white");
  border-radius: 2px;
  box-shadow: 0px 5px 20px #07539526;
  margin-top: 30px;
  margin-bottom: 30px;

  padding-top: 15px;
  padding-bottom: 15px;

  .menu-box__label {
    position: absolute;
    color: map-get($colors-map, "black-40");
    letter-spacing: 0.01em;
    font-size: 14px;
    line-height: 20px;
    min-height: 20px;
    white-space: nowrap;
    padding-left: 30px;
  }
  .menu-box__content-text {
    display: block;
    font-weight: 700;
    line-height: 30px;
    // white-space: nowrap;
    // width: 100%;

    cursor: pointer;
  }
  .menu-box__icons {
    display: flex;
    pointer-events: none;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 30px;
    top: 0px;

    .menu-box__icons__icon {
      margin-left: 30px;
      height: 24px;
      width: 40px;
      background-position: center;
      background-repeat: no-repeat;
    }

    .icon-clock {
      background-image: url("@/assets/icons/clock.svg");
    }

    .icon-directory {
      background-image: url("@/assets/icons/directory.svg");
    }

    .icon-search {
      background-image: url("@/assets/icons/search.svg");
    }

    .icon-info {
      background-image: url("@/assets/icons/info.svg");
    }
  }
}

// --------------------------
// How to use
// --------------------------
.secondary-column__how-to-use {
  .modules-header {
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    .fibo-title-modules {
      color: map-get($colors-map, "black");
      text-decoration: none;
      font-family: Inter;
      font-weight: 700;
      font-size: 24px;
    }

    .button-small {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.14px;
      line-height: 20px;
      padding: 5px 15px;
      border: none;
      white-space: nowrap;
    }

    h5 {
      padding: 0;
      margin: 0;
    }
  }
}
.secondary-column__how-to-use--mobile {
  padding: 0px 45px;
  margin-bottom: 30px;
  .fibo-title-modules {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
}

// --------------------------
// Tree modules
// --------------------------
.multiselect-container.secondary-column__tree {
  margin-top: 85px;
  padding: 0 15px 0px 15px;
  border-radius: 2px;
  border: none;
  .menu-box {
    box-shadow: none;
    margin-bottom: 25px;
  }
  .menu-box__content-text {
    margin-left: 30px;
    margin-top: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    max-width: calc(100% - 100px);
  }
}
.multiselect-container.secondary-column__tree.secondary-column__tree--mobile {
  background-color: transparent;
  margin-top: 30px;
  padding: 0 30px;
  .menu-box {
    box-shadow: 0px 5px 20px -5px rgba(8, 84, 150, 0.15);
  }
}

// --------------------------
// Version select
// --------------------------
.multiselect-container.secondary-column__versions {
  margin-top: 60px;
  padding: 0 15px 0px 15px;
  border-radius: 2px;
  border: none;

  .compare-dropdown-wrapper {
    height: 140px;
    .menu-box {
      margin: 0;
    }
    .compare-icon {
      height: 30px;
      width: 24px;
      margin: auto;
      background-image: url("@/assets/icons/compare.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      opacity: 0.5;
      transform: translateY(-15px);

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }
    }
  }

  .multiselect {
    width: 100%;
    min-height: 30px;
    .multiselect__placeholder {
      color: map-get($colors-map, "black") !important;
      font-weight: 700;
      font-size: 18px;
      padding-top: 0px;
      margin-bottom: 0px;
    }

    .multiselect__tags {
      .multiselect__single {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .multiselect--active {
    .multiselect__select {
      transform: none;
    }
  }
  .multiselect__content-wrapper /*, .multiselect__element */ {
    margin-top: 15px;
    border-radius: 0px;
    border: none;
    overflow-x: hidden;

    box-shadow: inset 0px 20px 20px -20px rgba(8, 84, 150, 0.15),
      0px 5px 20px -5px rgba(8, 84, 150, 0.15);
  }

  .multiselect__content {
    max-width: 100%;
    overflow-x: hidden;

    .multiselect__option {
      margin: 0px 20px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    li {
      .multiselect__option--highlight,
      .multiselect__option--highlight:after {
        background: #f3f3f3;
        color: #000;
      }
    }

    li:first-of-type {
      .multiselect__option--highlight:after {
        background: none;
        color: black;
        height: 60px;
      }
    }
  }
}
.multiselect-container.secondary-column__versions.secondary-column__versions--mobile {
  background-color: transparent;
  margin-top: 0;
  padding: 0;
  .menu-box {
    margin-top: 0px;
    box-shadow: 0px 5px 20px -5px rgba(8, 84, 150, 0.15);
  }
}

// --------------------------
// Search box
// --------------------------
.search-box {
  background: rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  padding: 0 30px 20px 30px;
  border-radius: 2px;
  border: none;

  .menu-box {
    margin-bottom: 30px;

    .menu-box__icons {
      .menu-box__icons__icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .multiselect {
    width: 100%;
    min-height: 30px;
    .multiselect__input {
      border-radius: 2px;
    }
    .multiselect__tags {
      max-height: 30px;
    }
    .multiselect__clear {
      transition: right 0.2s;
      position: absolute;
      right: 90px;
      top: -6px;
      height: 24px;
      width: 24px;
      display: block;
      cursor: pointer;
      z-index: 101;

      background-image: url("@/assets/icons/clear-search-box.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    .multiselect__select {
      display: none;
    }
    .multiselect__placeholder {
      color: map-get($colors-map, "black-80") !important;
      font-weight: 700;
      font-size: 18px;
      padding-top: 0px;
      margin-bottom: 0px;
      height: 30px;
      max-width: 100%;
      overflow: hidden;
    }
    .multiselect__spinner {
      transition: opacity 0.3s;
      margin-right: 28px;
      margin-top: -15px;
      &::after {
        border-top-color: black;
      }
      &::before {
        border-top-color: black;
      }
    }
  }

  .multiselect--input-empty {
    .multiselect__content-wrapper {
      display: none;
    }
  }

  .multiselect--active {
    .multiselect__select {
      transform: none;
    }
  }

  .menu-box__icons {
    pointer-events: all;
    .menu-box__icons__icon {
      transition: opacity 0.5s;
      z-index: 102;
    }
  }
  .menu-box__icons--inactive {
    pointer-events: none;
    .menu-box__icons__icon {
      z-index: 1;
    }
  }
  .menu-box__icons--loading {
    pointer-events: none;
    .menu-box__icons__icon {
      opacity: 0;
      z-index: 1;
    }
  }

  .multiselect__content-wrapper {
    margin-top: 15px;
    border-radius: 0px;
    border: none;
    overflow-x: hidden;
    overflow-y: scroll;

    box-shadow: -40px 10px 0px -30px #f2f2f2, 40px 10px 0px -30px #f2f2f2,
      30px 30px 0px 0px #f2f2f2, -30px 30px 0px 0px #f2f2f2,
      inset 0px 30px 30px -30px rgba(8, 84, 150, 0.15);

    .multiselect__element span span {
      display: inline-block;
      max-width: calc(100% - 64px);
      overflow: hidden;
      text-overflow: ellipsis;
      color: black;
    }
  }

  .multiselect__content {
    max-width: 100%;
    overflow-x: hidden;

    .multiselect__option {
      margin: 0px 20px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    li {
      .multiselect__option--highlight,
      .multiselect__option--highlight:after {
        background: #f3f3f3;
        color: #000;
      }
      .multiselect__option--highlight {
        &:after {
          background-image: url("@/assets/icons/search-select-arrow.svg");
          background-position: center;
          background-repeat: no-repeat;
          color: transparent;
          height: 60px;
          margin-right: 5px;
        }
      }
    }

    li:first-of-type {
      .multiselect__option--highlight:after {
        content: "Search...";
        background: none;
        color: black;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        padding: 20px 10px 20px 0;
      }
    }
  }
}
.search-box--desktop {
  margin-top: 60px;
}
.search-box--mobile {
  background-color: transparent;
  padding: 0;
  .menu-box {
    margin-bottom: 30px;
    box-shadow: 0px 5px 20px -5px rgba(8, 84, 150, 0.15);
  }
  .multiselect__content-wrapper {
    box-shadow: inset 0px 20px 20px -20px rgba(8, 84, 150, 0.15),
      0px 5px 20px -5px rgba(8, 84, 150, 0.15);
  }
}
.expand-advanced-btn {
  user-select: none;
  .see-more-btn {
    margin-top: 0px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.8);
    &::before {
      background-image: url("@/assets/icons/triangle-down.svg");
    }
  }
  .see-less-btn {
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.8);
    &::before {
      background-image: url("@/assets/icons/triangle-up.svg");
    }
  }
}
.expand-advanced-btn--mobile {
  padding: 0 30px;
}

// --------------------------
// Advanced search
// --------------------------
.advanced-search-box {
  background: rgba(0, 0, 0, 0.05);
  margin-top: 0px;
  padding: 0 30px 0px 30px;
  border-radius: 2px;
  border: none;

  .menu-box {
    padding-bottom: 15px;
  }

  .custom-switch {
    padding-bottom: 30px;
  }

  .advanced-search-button {
    margin-bottom: 30px;
    .b-icon {
      background-color: white;
      mask-image: url("@/assets/icons/search.svg");
    }
  }

  .menu-box {
    margin-top: 0px;
    .menu-box__content-text {
      padding-top: 5px;
    }
  }

  .multiselect-container {
    margin-top: 0px;
  }
  .multiselect {
    width: 100%;
    min-height: 30px;
    .multiselect__tags-wrap {
      display: inline-block;
      padding-top: 10px;
    }
    .multiselect__tags {
      margin-bottom: -5px;

      .multiselect__tag {
        border-radius: 8px;
        margin-bottom: 0px;
        padding: 6px 32px 6px 10px;
        color: black;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.01em;
        background: rgba(0, 0, 0, 0.12);
        &:hover {
          cursor: default;
        }
        .multiselect__tag-icon {
          width: 27px;
          &::after {
            content: "\00a0";
            margin-left: 0;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            height: 20px;
            width: 22px;
            background-image: url("@/assets/icons/close.svg");
            background-size: 12px;
            background-position: center;
            background-repeat: no-repeat;
            line-height: 30px;
            display: block;
            border-radius: 4px;
          }
          &:hover {
            background: transparent;
            cursor: pointer;
            &::after {
              background-color: rgba(0, 0, 0, 0.12);
            }
          }
        }
      }
    }
    .multiselect__select {
      transition: right 0.2s, background-color 0.2s;
      // z-index: 300;
      background-color: white;
      padding: 0px;
      margin-right: 30px;
      margin-top: -10px;
      width: 40px;
      height: 40px;
      top: -5px;
      background-image: url("@/assets/icons/triangle-down.svg");
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center;
    }
    .multiselect__placeholder {
      color: map-get($colors-map, "black") !important;
      font-weight: 700;
      font-size: 18px;
      padding-top: 0px;
      margin-bottom: 5px;
    }
    .multiselect__spinner {
      transition: opacity 0.3s;
      // z-index: 301;
      margin-right: 20px;
      margin-top: -15px;
      &::after {
        border-top-color: black;
        border-right-color: black;
        border-bottom-color: black;
      }
    }
  }

  .multiselect--active {
    .multiselect__select {
      background-image: url("@/assets/icons/triangle-up.svg");
      transform: none;
    }
  }
  .multiselect__content-wrapper /*, .multiselect__element */ {
    margin-top: 15px;
    border-radius: 0px;
    border: none;
    overflow-x: hidden;

    box-shadow: -40px 10px 0px -30px #f2f2f2, 40px 10px 0px -30px #f2f2f2,
      30px 30px 0px 0px #f2f2f2, -30px 30px 0px 0px #f2f2f2,
      inset 0px 30px 30px -30px rgba(8, 84, 150, 0.15);
  }

  .multiselect__content {
    max-width: 100%;
    overflow-x: hidden;

    .multiselect__option {
      margin: 0px 20px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    li {
      .multiselect__option--highlight {
        background: rgba(0, 0, 0, 0.05);
        color: #000000;
        &:after {
          display: none;
        }
      }

      .multiselect__option--selected {
        background: rgba(0, 0, 0, 0.12);
        color: rgba(255, 255, 255, 0.9);
        &:after {
          display: none;
        }
      }
    }
  }
}
.advanced-search-box--mobile {
  background: none;
  margin-top: 20px;
  padding: 0;
  .multiselect__content-wrapper {
    box-shadow: inset 0px 20px 20px -20px rgba(8, 84, 150, 0.15),
      0px 5px 20px -5px rgba(8, 84, 150, 0.15);
  }
}
.advanced-search-box-wrapper {
  .custom-switch {
    margin-left: 30px;
    padding-bottom: 0px;
  }
}

// --------------------------
// Common elements
// --------------------------
.see-more-btn {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  margin-top: 10px;
  user-select: none;

  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("@/assets/icons/show-more-muted.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;

    display: block;
    width: 24px;
    height: 24px;

    margin-right: 6px;
  }
}

.see-less-btn {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  margin-top: 10px;
  user-select: none;

  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("@/assets/icons/show-more-muted.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;

    display: block;
    width: 24px;
    height: 24px;

    margin-right: 6px;
  }
}

// --------------------------
// Desktop/global elements
// --------------------------
.main-column {
  padding-left: 45px;
  padding-right: 15px;

  .ontology-alert {
    position: relative;
    color: rgba(0, 0, 0, 0.8);

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.01em;

    background: map-get($colors-map, "red");
    border: none;
    border-radius: 2px;

    margin-top: 20px;
    padding: 5px 15px 5px 15px;

    &.red {
      background: map-get($colors-map, "red");
    }

    &.yellow {
      background: map-get($colors-map, "yellow");
    }

    .dismiss-alert-button {
      position: absolute;
      right: 0;
      top: 0;
      height: 30px;
      width: 30px;

      background-image: url("@/assets/icons/close.svg");
      background-repeat: no-repeat;
      background-size: 12px;
      background-position: center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .alert-error {
    color: rgba(0, 0, 0, 0.8);

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.01em;

    background: map-get($colors-map, "red");
    border: none;
    width: fit-content;
    block-size: fit-content;
    border-radius: 2px;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 15px 5px 15px;

    a {
      text-decoration: underline;
    }

    &::before {
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      background-color: inherit;
      border: inherit;
      position: absolute;
      bottom: -3px;
      left: 4px;
      clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
      transform: rotate(-45deg);
      border-radius: 0 0 0 0.25em;
    }
  }

  .how-to-article {
    h2,
    h3 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 40px;
    }

    p.big.muted {
      margin-bottom: 60px;
    }

    .maturity-section {
      margin-bottom: 60px;
    }

    .colours-section {
      padding-bottom: 40px;
    }

    .about-section {
      margin-bottom: 60px;
    }

    .color-container {
      margin-bottom: 40px;
      img {
        margin-bottom: 20px;
      }
      p {
        margin: 0;
      }
    }
  }

  .not-found {
    width: 100%;
    position: relative;

    .not-found-header {
      text-align: center;
      padding-bottom: 120px;
      padding-top: 120px;
    }

    .not-found-header .big-sign {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 800;
      font-size: 12em;
      line-height: 60px;

      letter-spacing: 0.01em;

      color: map-get($colors-map, "black-20");

      margin-top: 60px;
      margin-bottom: 90px;
    }
  }
}

.secondary-column {
  // margin-top: 40px;
  padding: 0px;

  .module-tree {
    min-width: 285px;
    padding-top: 40px;
    padding-bottom: 40px;

    .modules-list {
      margin: 20px 0 0 20px;
    }
  }
}
.secondary-column--mobile {
  .modules-list--mobile {
    padding: 0px 15px;
  }
}

.search-section {
  word-wrap: break-word;
  .search-section__header {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding: 40px 60px;
    h5,
    p {
      padding: 0;
      margin: 0;
    }
    h5 {
      color: #000000;
      font-weight: bold;
      font-size: 42px;
      line-height: 50px;

      margin-bottom: 10px;
    }
    p {
      color: rgba(0, 0, 0, 0.6);
      font-size: 18px;
      line-height: 30px;
    }
  }
  .search-section__items {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;

    .search-item {
      width: 100%;
      margin-top: 20px;
      padding: 20px 20px 20px 54px;

      .search-item__description-wrapper {
        margin-top: 10px;

        .search-item__description__label {
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.01em;
          text-overflow: ellipsis;

          border-radius: 8px;

          padding: 6px 10px;
          margin-right: 10px;

          color: black;
          background: rgba(0, 0, 0, 0.12);
          position: relative;

          white-space: nowrap;
          overflow: hidden;
        }

        .search-item__description__label--alternative {
          font-size: 14px;
          font-weight: 700;

          margin-right: 10px;

          color: rgba(0, 0, 0, 0.6);

          line-height: 1;
        }

        .search-item__description__highlight {
          color: rgba(0, 0, 0, 0.6);

          font-size: 18px;
          line-height: 30px;
        }
      }

      .search-item__icon {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 24px;
        height: 36px;

        left: -34px;

        &::before {
          content: "";

          background-repeat: no-repeat;
          background-size: 24px 24px;
          width: 24px;
          height: 24px;
        }
        &.maturity-provisional {
          &::before {
            background-image: url("@/assets/icons/provisional-maturity.svg");
          }
        }
        &.maturity-informative {
          &::before {
            background-image: url("@/assets/icons/informative-maturity.svg");
          }
        }
        &.maturity-mixed {
          &::before {
            background-image: url("@/assets/icons/mixed-maturity.svg");
          }
        }
        &.maturity-release {
          &::before {
            background-image: url("@/assets/icons/production-maturity.svg");
          }
        }
      }

      .search-item__title {
        position: relative;
        a {
          color: rgba(0, 0, 0, 0.8);
          text-decoration: none;

          &:hover {
            color: $link-hover-color;
          }

          &:active {
            color: $link-active-color;
          }
        }
        // color: rgba(0, 0, 0, 0.8);
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 10px;
      }
      .search-item__iri a {
        color: rgba(0, 0, 0, 0.6);
        text-decoration: none;

        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        margin-bottom: 10px;

        &:hover {
          text-decoration: underline;
          color: $link-hover-color;
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 2px;
      }
    }
  }
  .search-section__load-more {
    padding: 40px;
    border-radius: 2px;
    margin-top: 60px;

    .b-pagination-pills {
      justify-content: center;

      .page-item {
        .page-link {
          font-size: 18px;
          border-radius: 2px!important;
          user-select: none;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
      }
      .page-item .page-link {
        background-color: transparent;
        border: 2px solid transparent;
        color: rgb(51,51,51);
        margin-left: 6px;
      }
      .page-item .page-link:hover {
        background-color: map-get($colors-map, "black-20");
      }
      .page-item .page-link:active {
        background-color: rgb(153,153,153);
        border: 2px solid rgb(153,153,153);
        color: rgb(51,51,51);
      }
      .page-item .page-link:focus {
        box-shadow: none;
        outline: none;
      }
      .page-item.active .page-link {
        background-color: rgb(51,51,51);
        border: 2px solid rgb(51,51,51);
        color: map-get($colors-map, "white");
      }
      .page-item.active .page-link:active {
        background-color: map-get($colors-map, "black");
        border: 2px solid map-get($colors-map, "black");
        color: map-get($colors-map, "white");
      }
      .page-item.disabled .page-link {
        background-color: transparent;
        border: 2px solid transparent;
        color: map-get($colors-map, "black-40");
      }
    }


    p {
      color: rgba(0, 0, 0, 0.6);
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      margin: 0px;
      padding: 0px;
      text-align: center;
    }
  }
}

// --------------------------
// Mobile
// --------------------------
@media (max-width: 991px) {
  .section-title {
    &::before {
      content: "";
      background-image: url("@/assets/icons/triangle-up.svg");
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center;

      display: block;
      width: 24px;
      height: 30px;
      float: right;
    }

    &.section-collapse {
      &::before {
        content: "";
        background-image: url("@/assets/icons/triangle-down.svg");
        background-repeat: no-repeat;
        background-size: 24px 24px;

        display: block;
        width: 24px;
        height: 24px;
        float: right;
      }
    }
    &.section-collapse + div {
      display: none;
    }
  }

  .main-column {
    padding-left: 0px;
    padding-right: 0px;

    .ontology-alert {
      margin: 20px 30px 0 30px;
    }

    .how-to-article {
      .maturity-section {
        margin-bottom: 0px;
      }

      .colours-section {
        padding-bottom: 0px;
      }

      .about-section {
        padding: 40px 30px;
      }
    }

    .not-found .not-found-header {
      padding-bottom: 60px;
      padding-top: 60px;

      .big-sign {
        font-size: 6em;
      }
    }
  }

  .search-section {
    margin-top: 45px;
    .search-section__header {
      padding: 40px 30px;

      h5 {
        font-size: 30px;
        line-height: 36px;
      }
      p {
        font-size: 20px;
        line-height: 30px;
      }
    }
    .search-section__items {
      padding-left: 0px;
      padding-right: 0px;

      .search-item {
        padding: 20px 30px 20px 64px;

        p {
          font-size: 16px;
          line-height: 24px;
        }
        .search-item__icon {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 24px;
          height: 30px;

          left: -34px;

          &::before {
            content: "";

            background-repeat: no-repeat;
            background-size: 24px 24px;
            width: 24px;
            height: 24px;
          }
          &.maturity-provisional {
            &::before {
              background-image: url("@/assets/icons/provisional-maturity.svg");
            }
          }
          &.maturity-informative {
            &::before {
              background-image: url("@/assets/icons/informative-maturity.svg");
            }
          }
          &.maturity-mixed {
            &::before {
              background-image: url("@/assets/icons/mixed-maturity.svg");
            }
          }
          &.maturity-release {
            &::before {
              background-image: url("@/assets/icons/production-maturity.svg");
            }
          }
        }
        .search-item__title {
          font-size: 20px;
          line-height: 30px;
        }
        .search-item__iri {
          font-size: 14px;
          line-height: 20px;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0);
        }
      }
    }
    .search-section__load-more {
      padding: 20px;
      margin-top: 40px;

      p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
      .search-section__load-more__button {
        font-size: 18px;
        line-height: 30px;
        width: 100%;
      }
    }
  }

  .see-more-btn {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    margin-top: 20px;
    &::before {
      content: "";
      background-image: url("@/assets/icons/show-more-muted.svg");
      background-repeat: no-repeat;
      background-size: 24px 24px;

      display: block;
      width: 24px;
      height: 24px;
      float: left;
    }
  }

  .see-less-btn {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    margin-top: 20px;
    &::before {
      content: "";
      background-image: url("@/assets/icons/show-more-muted.svg");
      background-repeat: no-repeat;
      background-size: 24px 24px;

      display: block;
      width: 24px;
      height: 24px;
      float: left;
    }
  }

  .custom-checkbox {
    .custom-control-label {
      font-size: 16px;
    }
  }
}

// --------------------------
// Transitions
// --------------------------

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slowfade-enter-active,
.slowfade-leave-active {
  transition: opacity 0.5s;
}
.slowfade-enter,
.slowfade-leave-to {
  opacity: 0;
}

.comparedropdown-enter-active {
  transition: opacity 0.3s 0.2s ease, height 0.3s ease;
}
.comparedropdown-leave-active {
  transition: opacity 0.3s ease, height 0.3s 0.2s ease;
}
.comparedropdown-enter,
.comparedropdown-leave-to {
  opacity: 0 !important;
  height: 0!important;
}
