@media (min-width: 992px) {
  .ontology-container {
    padding: 0 45px;
  }
  .module-tree .multiselect-container {
    margin-right: 0px;
  }
}

// --------------------------
// Multiselect Common
// --------------------------
.multiselect-container {
  &.multiselect-xxl-container {
    margin-top: 20px;
    max-width: 100%;
    .row {
      margin: 0px;
    }
  }

  .multiselect {
    input {
      padding-left: 0px;
    }

    .multiselect__select {
      &::before {
        border: none;
      }
    }
    .multiselect__tags {
      background-color: rgba(255, 255, 255, 0);

      border: 0px solid map-get($colors-map, "white");
      padding-left: 30px;
      padding-right: 90px;
      padding-top: 0px;
      margin-top: 20px;
      max-height: 30px;
      min-height: 30px;
    }
    .multiselect__input {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.8);
      z-index: 1;
    }
    .multiselect__single {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.8);
      padding: 0px;
      margin: 0px;
    }

  }
  .multiselect__content-wrapper /*, .multiselect__element */ {
    z-index: 205;
  }
  .multiselect--active {
    input{
      z-index: 5;
    }
    .multiselect__tags{
      background-color: rgba(255, 255, 255, 0);
      transition: background-color 0.2s;
    }
    
  }
}
.menu-box {
  position: relative;
  align-items: center;
  background-color: map-get($colors-map, "white");
  border-radius: 2px;
  box-shadow: 0px 5px 20px #07539526;
  margin-top: 30px;
  margin-bottom: 30px;

  padding-top: 15px;
  padding-bottom: 15px;

  .menu-box__label {
    position: absolute;
    color: map-get($colors-map, "medium-grey");
    letter-spacing: 0.14px;
    line-height: 20px;
    min-height: 20px;
    white-space: nowrap;
    padding-left: 30px;
  }
  .menu-box__content-text {
    display: block;
    font-weight: 700;
    line-height: 30px;
    white-space: nowrap;
    // width: 100%;

    cursor: pointer;
  }
  .menu-box__icons {
    display: flex;
    z-index: 4;
    pointer-events: none;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 30px;
    top: 0px;
    

    .menu-box__icons__icon {
      margin-left: 30px;
      height: 24px;
      width: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: white;
    }

    .icon-clock {
      background-image: url("../../assets/icons/clock.svg");
    }
    
    .icon-directory {
      background-image: url("../../assets/icons/directory.svg");
    }

    .icon-search-triangle-down {
      background-image: url("../../assets/icons/triangle-down.svg");
    }
    
    .icon-warning {
      background-image: url("../../assets/icons/warning.svg");
    }
  }
}

// --------------------------
// How to use
// --------------------------
.secondary-column__how-to-use {
  .modules-header {
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    .fibo-title-modules {
      color: map-get($colors-map, "black");
      text-decoration: none;
      font-family: Inter;
      font-weight: 700;
      font-size: 24px;
      margin-left: 10px;
    }
    
    .button-small {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.14px;
      line-height: 20px;
      padding: 5px 15px;
      border: none;
      max-height: 30px;
      white-space: nowrap;
    }
    
    h5 {
      padding: 0;
      margin: 0;
    }
  }
}
.secondary-column__how-to-use--mobile {
  padding: 0px 20px;
  .fibo-title-modules {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
}

// --------------------------
// Tree modules
// --------------------------
.multiselect-container.secondary-column__tree {
  margin-top: 60px;
  padding: 0 20px 0px 20px;
  border-radius: 2px;
  border: none;
  .menu-box {
    box-shadow: none;
  }
  .menu-box__content-text {
    margin-left: 30px;
    margin-top: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }
}
.multiselect-container.secondary-column__tree.secondary-column__tree--mobile{
  background-color: transparent;
  margin-top: 30px;
  .menu-box {
    box-shadow: 0px 5px 20px -5px rgba(8, 84, 150, 0.15);
  }
}

// --------------------------
// Search box
// --------------------------
.search-box {
  background: rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  padding: 0 20px 0px 20px;
  border-radius: 2px;
  border: none;

  .multiselect {
    width: 100%;
    min-height: 30px;
    .multiselect__clear {
      transition: right 0.2s;
      position: absolute;
      right: 90px;
      top: -6px;
      height: 24px;
      width: 24px;
      display: block;
      cursor: pointer;
      z-index: 101;

      background-image: url("../../assets/icons/clear-search-box.svg");;
      background-repeat: no-repeat;
      background-position: center;
    }
    .multiselect__select {
      transition: right 0.2s, background-color 0.2s;
      z-index: 300;
      background-color: white;
      padding: 0px;
      margin-right: 30px;
      margin-top: -10px;
      width: 24px;
      height: 40px;
      top: -5px;
      background-image: url("../../assets/icons/search.svg");
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center;
    }
    .multiselect__placeholder {
      color: map-get($colors-map, "black") !important;
      font-weight: 700;
      font-size: 18px;
      padding-top: 0px;
      margin-bottom: 0px;
    }
    .multiselect__spinner {
      transition: opacity 0.3s;
      z-index: 301;
      margin-right: 20px;
      margin-top: -15px;
      &::after{
        border-top-color: black;
        border-right-color: black;
        border-bottom-color: black;
      }
    }
  }

  .multiselect--active{
    .multiselect__select {
      transform: none;
    }
  }
  .multiselect__content-wrapper /*, .multiselect__element */ {
    margin-top: 15px;
    border-radius: 0px;
    border: none;
    overflow-x: hidden;

    box-shadow: -40px 10px 0px -20px #F2F2F2,
                40px 10px 0px -20px #F2F2F2,
                20px 20px 0px 0px #F2F2F2,
                -20px 20px 0px 0px #F2F2F2,
                inset 0px 20px 20px -20px rgba(8, 84, 150, 0.15);
  }
  
  .multiselect__content {
    max-width: 100%;
    overflow-x: hidden;
    
    .multiselect__option {

      margin: 0px 20px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    li{
      .multiselect__option--highlight,
      .multiselect__option--highlight:after {
        background: #f3f3f3;
        color: #000;
      }
      .multiselect__option--highlight{
        &:after{
          background-image: url("../../assets/icons/search-select-arrow.svg");
          background-position: center;
          background-repeat: no-repeat;
          color: transparent;
        }
      }
    }
    
    li:first-of-type{
      .multiselect__option--highlight:after{
        background:none;
        color: black;
      }
    }
  }
}
.search-box--desktop {
  margin-top: 60px;
}
.search-box--mobile {
  background-color: transparent;
  .menu-box {
    box-shadow: 0px 5px 20px -5px rgba(8, 84, 150, 0.15);
  }
}

// --------------------------
// Common elements
// --------------------------
.see-more-btn {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  margin-top: 25px;

  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("../../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;

    display: block;
    width: 24px;
    height: 24px;

    margin-right: 6px;
  }
}

.see-less-btn {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  margin-top: 25px;

  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("../../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;

    display: block;
    width: 24px;
    height: 24px;

    margin-right: 6px;
  }
}

// --------------------------
// Desktop/global elements
// --------------------------
.main-column {
  padding-left: 30px;
  padding-right: 15px;

  .alert-error {
    color: rgba(0, 0, 0, 0.8);
  
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  
    letter-spacing: 0.01em;
  
    background: #f3140c;
    border: none;
    width: fit-content;
    block-size: fit-content;
    border-radius: 2px;
  
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 15px 5px 15px;
    // margin-right: 85px;
  
    a {
      text-decoration: underline;
    }
  
    &::before {
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      background-color: inherit;
      border: inherit;
      position: absolute;
      bottom: -3px;
      left: 4px;
      clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
      transform: rotate(-45deg);
      border-radius: 0 0 0 0.25em;
    }
  }

  .how-to-article {
    .color-container {
      display: flex;
      padding: 15px 0px;
      align-items: center;
      img {
        margin-right: 15px;
      }
      p {
        margin: 0;
      }
    }
  }
}

.secondary-column {
  margin-top: 40px;
  padding: 0px;

  .module-tree {
    min-width: 285px;
    margin-bottom: 40px;
      
    .modules-list {
      margin: 20px 0 0 20px;
    }
  }
}

.ontology-item {
  .row {
    margin: 0;
    padding: 0;
  }
  .card {
    padding-right: 60px;
    padding-left: 60px;
    background: white;
    border: none;
    color: black;

    h5 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      padding: 0;
      margin: 0;

      margin-bottom: 40px;
    }

    .card-body {
      padding: 0;
    }

    .card-content {
      margin-bottom: 60px;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 2px;
      padding: 40px 30px 0 30px;
    }

    dt {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      text-transform: capitalize;

      margin: 0;
      padding: 0;
    }
    
    dd {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;

      text-align: justify;

      margin: 0;
      margin-bottom: 40px;
      padding: 0;
      ul {
        margin-bottom: 0;
      }
      a {
        text-decoration: underline;
      }
    }
  }
  a {
    color: rgba(0, 0, 0, 0.8);
    transition: color 0.2s;

    &:hover {
      color: $link-hover-color;
    }

    &:active {
      color: $link-active-color;
    }
  }
  .section-content-wrapper {
    margin-bottom: 60px;
  }
  .ontology-item__paths {
    text-decoration: none;
    padding-right: 60px;
    padding-left: 60px;
    .see-more-btn {
      margin-top: 20px;
    }
    .see-less-btn {
      margin-top: 20px;
    }
    h5 {
      margin-bottom: 40px;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      color: black;
    }

    .ontology-item__paths__taxonomy {
      background: rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      padding: 10px 20px;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.01em;
      .collapseButtons {
        display: none;
      }
      span a {
        color: rgba(0, 0, 0, 0.8);
        transition: color 0.2s;

        &:active {
          color: $link-active-color;
        }
        &:hover {
          text-decoration: none;
          color: $link-hover-color;
        }
      }
    } 
    .ontology-item__paths__tree-view {
      background-color: rgba(0, 0, 0, 0.05);
      padding: 10px 20px;
      .ontology-item__paths__tree-view__root {
        padding-left: 0px;
        margin: 0;
        list-style: none;
      }
    }
  }
  .ontology-item__header {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    margin-bottom: 60px;
    margin-top: 45px;
    padding: 0;

    // maturity alert
    .alert-maturity {
      float: left;
      color: rgba(0, 0, 0, 0.8);

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;

      letter-spacing: 0.01em;

      background: #feb700;
      border: none;
      width: fit-content;
      block-size: fit-content;
      border-radius: 2px;

      margin-top: 40px;
      margin-left: -30px;
      margin-bottom: 5px;
      padding: 5px 15px 5px 15px;
      // margin-right: 85px;

      a {
        text-decoration: underline;
      }

      &::before {
        content: "";
        display: block;
        height: 20px;
        width: 20px;
        background-color: inherit;
        border: inherit;
        position: absolute;
        bottom: -3px;
        left: 4px;
        clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        transform: rotate(-45deg);
        border-radius: 0 0 0 0.25em;
      }
    }

    // report a problem
    .btn-report-a-problem {
      float: right;
      margin-top: 40px;
      margin-left: 10px;
      border-radius: 2px;
      padding: 5px 15px;
      border: none;
      text-decoration: none;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
    }

    h5 {
      float: left;
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 50px;
      margin-right: 30px;
      margin-top: 35px;
      position: relative;
      max-width: 100%;
      &::before {
        content: "";

        background-repeat: no-repeat;
        background-size: 24px 24px;

        display: block;
        width: 24px;
        height: 24px;

        left: -30.17px;
        top: 12.83px;

        position: absolute;
      }
      &.maturity-provisional {
        &::before {
          background-image: url("../../assets/icons/provisional-maturity.svg");
        }
      }
      &.maturity-mixed {
        &::before {
          background-image: url("../../assets/icons/mixed-maturity.svg");
        }
      }
      &.maturity-production {
        &::before {
          background-image: url("../../assets/icons/production-maturity.svg");
        }
      }
    }
    h6 {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;

      letter-spacing: 0.01em;
      color: rgba(0, 0, 0, 0.6);
    }
    // data iri
    .data-iri {
      margin: 0px 0px;
      padding: 0;
    }
    // qname
    .qname {
      margin: 0px 0px;
      padding: 0;
    }
    // copy url button
    .btn-copy-url {
      color: rgba(0, 0, 0, 0.8);
      margin-top: 40px;
      margin-bottom: 40px;
      border: none;
      background: none;
      font-size: 18px;
      line-height: 30px;
      transition: color 0.2s;

      &:hover {
        color: $link-hover-color;
      }
  
      &:active {
        color: $link-active-color;
      }

      &::before {
        content: "";
        background-image: url("../../assets/icons/copy-url-icon.svg");
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: center;

        display: block;
        width: 24px;
        height: 30px;
        float: left;
        margin: 0 6px 0 0;
      }

      &:focus {
        outline: none;
        border: none;
      }
    }
    .btn-copy-iri {
      margin-top: 0px;
    }
    .card {
      background: none;
    }
  }
}

.search-section {
  word-wrap: break-word;
  .search-section__header {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding: 40px 60px;
    h5,
    p {
      padding: 0;
      margin: 0;
    }
    h5 {
      color: #000000;
      font-weight: bold;
      font-size: 42px;
      line-height: 50px;

      margin-bottom: 10px;
    }
    p {
      color: rgba(0, 0, 0, 0.6);
      font-size: 24px;
      line-height: 40px;
    }
  }
  .search-section__items {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;

    .search-item {
      width: 100%;
      margin-top: 20px;
      padding: 20px 20px 20px 54px;

      .search-item__icon {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 24px;
        height: 36px;

        left: -34px;

        &::before {
          content: "";

          background-repeat: no-repeat;
          background-size: 24px 24px;
          width: 24px;
          height: 24px;
        }
        &.maturity-provisional {
          &::before {
            background-image: url("../../assets/icons/provisional-maturity.svg");
          }
        }
        &.maturity-mixed {
          &::before {
            background-image: url("../../assets/icons/mixed-maturity.svg");
          }
        }
        &.maturity-release {
          &::before {
            background-image: url("../../assets/icons/production-maturity.svg");
          }
        }
      }

      .search-item__title {
        position: relative;
        a {
          color: rgba(0, 0, 0, 0.8);
          text-decoration: none;
          transition: color 0.2s;

          &:hover {
            color: $link-hover-color;
          }
      
          &:active {
            color: $link-active-color;
          }
        }
        // color: rgba(0, 0, 0, 0.8);
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 10px;
      }
      .search-item__iri a {
        color: rgba(0, 0, 0, 0.6);
        transition: color 0.2s;
        text-decoration: none;

        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        margin-bottom: 10px; 

        &:hover {
          text-decoration: underline;
          color: $link-hover-color;
        }
      }
      p {
        color: rgba(0, 0, 0, 0.6);

        font-size: 18px;
        line-height: 30px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 2px;
      }
    }
  }
  .search-section__load-more {
    padding: 40px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    margin-top: 60px;

    p {
      color: rgba(0, 0, 0, 0.6);
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      margin: 0px;
      padding: 0px;
    }
    .search-section__load-more__button {
      cursor: pointer;
      margin-top: 16px;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 2px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;

      width: fit-content;
      height: 50px;

      font-size: 18px;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

// --------------------------
// Mobile
// --------------------------
@media (max-width: 768px) {
  .section-title {
    &::before {
      content: "";
      background-image: url("../../assets/icons/triangle-up.svg");
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center;

      display: block;
      width: 24px;
      height: 30px;
      float: right;
    }

    &.section-collapse {
      &::before {
        content: "";
        background-image: url("../../assets/icons/triangle-down.svg");
        background-repeat: no-repeat;
        background-size: 24px 24px;
  
        display: block;
        width: 24px;
        height: 24px;
        float: right;
      }
    }
    &.section-collapse + div {
      display: none;
    }
  }

  .main-column {
    padding-left: 0px;
    padding-right: 0px;
  }

  .ontology-item {
    .row {
      margin: 0;
      padding: 0;
    }

    a {
      color: rgba(0, 0, 0, 0.8);
    }

    .ontology-item__paths {
      padding-right: 30px;
      padding-left: 30px;

      h5 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: black;
      }

      .ontology-item__paths__taxonomy {
        background: rgba(0, 0, 0, 0.05);
        color: rgba(0, 0, 0, 0.4);
        padding: 10px 20px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 24px;

        .taxonomy-wrapper {
          width: 100%;
          overflow: hidden;
        }
        span {
          color: rgba(0, 0, 0, 0.8);
        }
        .collapseButtons {
          display: block;
          .see-less-btn {
            display: block;
          }
          .see-more-btn {
            display: none;
          }
        }
        &.collapsed {
          .taxonomy-wrapper {
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .collapseButtons {
            .see-less-btn {
              display: none;
            }
            .see-more-btn {
              display: block;
            }
          }
          .span {
            height: 1em;
          }
        }
      }
    }

    .card {
      padding-right: 30px;
      padding-left: 30px;
      h5 {
        font-size: 20px;
        line-height: 30px;
      }
      .card-content {
        background: rgba(0, 0, 0, 0.05);
        padding: 40px 30px 0 30px;
      }
      dt {
        font-size: 16px;
        line-height: 24px;
      }
      dd {
        font-size: 16px;
        line-height: 24px;
        a {
          text-decoration: underline;
        }
      }
    }

    .ontology-item__header {
      margin-top: 0px;
      // maturity alert
      .alert-maturity {
        margin-top: 40px;
        margin-left: 0px;
      }

      h5 {
        padding-right: 30px;
        font-size: 30px;
        line-height: 36px;

        &.maturity-provisional {
          margin-left: 34px;
        }
        &.maturity-production {
          margin-left: 34px;
        }
        &.maturity-mixed {
          margin-left: 34px;
        }
        &::before {
          top: 5.83px;
        }
      }

      // data iri
      .data-iri {
        margin: 0px 0px;
        padding: 0;
      }
      // qname
      .qname {
        margin: 0px 0px;
        padding: 0;
      }
      .url-buttons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: right;
      }
      // copy url button
      .btn-copy-url {
        font-size: 16px;
        line-height: 24px;
        &::before {
          content: "";
          background-image: url("../../assets/icons/copy-url-icon.svg");
          background-repeat: no-repeat;
          background-size: 24px;

          display: block;
          width: 24px;
          height: 24px;
          float: right;
          margin-left: 6px;
        }
      }
      .btn-copy-iri {
        // margin-top: 40px;
      }
      .card {
        background: none;
      }
    }
  }

  .search-section {
    .search-section__header {
      padding: 40px 30px;

      h5 {
        font-size: 30px;
        line-height: 36px;
      }
      p {
        font-size: 20px;
        line-height: 30px;
      }
    }
    .search-section__items {
      padding-left: 0px;
      padding-right: 0px;

      .search-item {
        padding: 20px 30px 20px 64px;

        p {
          font-size: 16px;
          line-height: 24px;
        }
        .search-item__icon {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 24px;
          height: 30px;

          left: -34px;

          &::before {
            content: "";

            background-repeat: no-repeat;
            background-size: 24px 24px;
            width: 24px;
            height: 24px;
          }
          &.maturity-provisional {
            &::before {
              background-image: url("../../assets/icons/provisional-maturity.svg");
            }
          }
          &.maturity-mixed {
            &::before {
              background-image: url("../../assets/icons/mixed-maturity.svg");
            }
          }
          &.maturity-release {
            &::before {
              background-image: url("../../assets/icons/production-maturity.svg");
            }
          }
        }
        .search-item__title {
          font-size: 20px;
          line-height: 30px;
        }
        .search-item__iri {
          font-size: 14px;
          line-height: 20px;
        }
        
        &:hover {
          background-color: rgba(0, 0, 0, 0);
        }
      }
    }
    .search-section__load-more {
      padding: 20px;
      margin-top: 40px;

      p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
      .search-section__load-more__button {
        font-size: 18px;
        line-height: 30px;
        width: 100%;
      }
    }
  }

  .see-more-btn {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    margin-top: 20px;
    &::before {
      content: "";
      background-image: url("../../assets/icons/search.svg");
      background-repeat: no-repeat;
      background-size: 24px 24px;

      display: block;
      width: 24px;
      height: 24px;
      float: left;
    }
  }

  .see-less-btn {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    margin-top: 20px;
    &::before {
      content: "";
      background-image: url("../../assets/icons/search.svg");
      background-repeat: no-repeat;
      background-size: 24px 24px;

      display: block;
      width: 24px;
      height: 24px;
      float: left;
    }
  }
}


// --------------------------
// Transitions
// --------------------------

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
